@import "variables";

*{
  font-family: Arial;
}

body{
  background: #fff;
  color: $textColor;
}

input[type="text"]{
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  &:focus{
    outline: none;
    border: 2px solid $activeColor;
  }
}

.btn{
  color: #fff;
  background: $activeColor;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: $simpleBoxShadow;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:active{
    background: $activeColor - 30;
  }
}

.md-button {
  margin: 0 !important;
}

@mixin hoverAnimation() {
  transition: color .2s, border-color .2s;
  &:hover{
    cursor: pointer;
    color: $activeColor;
    border-color: $activeColor;
    svg{
      fill: $activeColor;
    }
  }
}

@mixin opacityHoverAnimation($from, $to){
  opacity: $from;
  &:hover{
    opacity: $to;
  }
}