<div class="movie-create-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<h3 ng-if="!$ctrl.editMode">Добавление фильма</h3>
	<h3 ng-if="$ctrl.editMode">Редактирование фильма</h3>
	<div class="info-wrapper">
		<div class="movie-detail-data">

			<!--<h2 class="movie-title">{{$ctrl.movieData.name}}</h2>-->
			<div class="movie-field film-name">
				<span>Название:</span>
				<input type="text" ng-model="$ctrl.movieData.name" placeholder="Название">
			</div>

			<div class="movie-field">
				<span>Режиссер:</span>
				<app-select ng-if="$ctrl.filmDirectors.length"
							ng-model="$ctrl.movieData.filmDirectors"
				            options-list="$ctrl.filmDirectors"
				            on-change="$ctrl.onModelChange(model, 'filmDirectorsIds')"
				            options="$ctrl.appSelectOptions">
				</app-select>
			</div>
			<div class="movie-field">
				<span>Жанр:</span>
				<app-select ng-if="$ctrl.genres.length"
							ng-model="$ctrl.movieData.genres"
				            options-list="$ctrl.genres"
				            on-change="$ctrl.onModelChange(model, 'genresIds')"
				            options="$ctrl.appSelectOptions">
				</app-select>
			</div>
			<div class="movie-field">
				<span>В ролях:</span>
				<app-select ng-if="$ctrl.actors.length"
							ng-model="$ctrl.movieData.actors"
				            options-list="$ctrl.actors"
				            on-change="$ctrl.onModelChange(model, 'actorsIds')"
				            options="$ctrl.appSelectOptions">
				</app-select>
			</div>
			<div class="movie-field">
				<span>Страна:</span>
				<app-select ng-if="$ctrl.countries.length"
							ng-model="$ctrl.movieData.countries"
				            options-list="$ctrl.countries"
				            on-change="$ctrl.onModelChange(model, 'countriesIds')"
				            options="$ctrl.appSelectOptions">
				</app-select>
			</div>
			<div class="movie-field budget">
				<span>Бюджет:</span>
				<input type="text" ng-model="$ctrl.movieData.budget">
			</div>
			<div class="movie-field year">
				<span>Год:</span>
				<input type="text" ng-model="$ctrl.movieData.year">
			</div>
			<div class="movie-field rating">
				<span>Рейтинг:</span>
				<input type="text" ng-model="$ctrl.movieData.rating">
			</div>
			<div class="movie-field description">
				<span>Описание:</span>
				<textarea rows="4" type="text" ng-model="$ctrl.movieData.description"></textarea>
			</div>
		</div>
		<div class="movie-preview-wrapper">
			<img ng-if="$ctrl.movieData.previewImage" class="movie-preview" ng-src="{{$ctrl.movieData.previewImage}}">
			<div ng-if="!$ctrl.movieData.previewImage" ngf-select="$ctrl.uploadFile($file)" class="movie-preview add-new-button upload-image">
				<svg-icon encoded-str="$ctrl.icons.addIcon"></svg-icon>
				<span>Добавить постер</span>
			</div>
			<svg-icon ng-if="$ctrl.editMode" ng-click="$ctrl.removePreview()" class="remove-preview" encoded-str="$ctrl.icons.removeIcon"></svg-icon>
			<button ng-if="$ctrl.editMode && $ctrl.movieData.previewImage" class="btn" ngf-select="$ctrl.uploadFile($file)">Изменить постер</button>
		</div>

	</div>
	<button ng-if="!$ctrl.editMode" class="btn" ng-click="$ctrl.addMovie()">Добавить</button>
	<button ng-if="$ctrl.editMode" class="btn" ng-click="$ctrl.updateMovie()">Сохранить</button>
</div>