@import "../../../styles/common";

.movie-create-wrapper{
  .movie-detail-data{
    min-width: 500px;
    input, textarea{
      width: 100%;
    }
    .movie-field{
      display: flex;
      align-items: flex-start;
      >span:first-child{
        margin-top: 5px;
        margin-right: 5px;
        width: 100px;
      }
      app-select{
        width: 100%;
      }
    }
  }
  .movie-preview-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    .upload-image{
      box-shadow: none;
      background: none !important;
    }
    .remove-preview{
      position: absolute;
      top: 5px;
      right: 25px;
      svg{
        fill: #fff;
      }
    }
  }
}