<div class="schools-list-wrapper">
    <ajax-loader promise="$ctrl.promise"></ajax-loader>
    <div class="schools-list">
        <div class="add-new-button" ng-click="$ctrl.openCreateModal()">
            <svg-icon encoded-str="$ctrl.icons.addIcon"></svg-icon>
            <span>Добавить школу</span>
        </div>
        <schools-list-item
                ng-repeat="school in $ctrl.schools"
                school-data="school"
                ng-click="$ctrl.openDetail(school)"
                on-remove="$ctrl.removeMovie(school, $index)">
        </schools-list-item>
    </div>
</div>