@import "../../../styles/common";

.schools-list-wrapper{
  h1{
    text-align: center;
  }
  .schools-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
  }
}

.add-new-button{
  //width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 0 16px 0;

  border: $dashedBorder;
  box-sizing: border-box;
  border-radius: 4px;

  color: $grey;

  @include hoverAnimation();

  svg{
    transition: fill .2s;
    width: 45px;
    height: 45px;
    fill: $grey;
  }
}