<div class="schools-list-item-wrapper">
	<!--<img class="school-preview" ng-src="{{$ctrl.schoolData.previewImage}}">-->
	<span class="school-name">{{$ctrl.schoolData.name}}</span>
	<span style="flex: 1"></span>
	<svg-icon class="delete-button"
	          ng-click="$ctrl.removeMovie($ctrl.schoolData, $event)"
	          encoded-str="$ctrl.icons.removeIcon"></svg-icon>
</div>