@import "../../../styles/common";

.schools-list-item-wrapper{
  position: relative;
  background-color: #fff;
  box-shadow: $simpleBoxShadow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  //margin-right: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: transform .3s, box-shadow .3s;

  &:hover{
    cursor: pointer;
    //box-shadow: $hoverBoxShadow;
    //transform: scale(1.1);
    .delete-button {
      display: block;
      @include opacityHoverAnimation(.8, 1);
      svg{
        fill: $warnColor;
      }
    }
  }

  .delete-button {
   // position: absolute;
    top: 5px;
    left: 5px;
    display: none;
  }

  .school-name{
    //position: absolute;
    color: #666;
    bottom: 10px;
    //width: 100%;
    text-align: center;
    //text-shadow: $simpleTextShadow;
  }
}