<div class="schools-detail-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<div class="info-wrapper">
		<header flex layout="row" layout-align="left center">
			<h1 ng-if="!$ctrl.editMode">{{$ctrl.schoolData.name}}</h1>
			<md-input-container ng-if="$ctrl.editMode">
				<input type="tex"
					   class="school-name"
					   ng-required="true"
					   placeholder="Название школы"
					   ng-model="$ctrl.schoolData.name"/>
			</md-input-container>

			<span flex></span>
			<md-button class="md-raised md-primary" ng-click="$ctrl.toggleEditMode()">Редактировать</md-button>
		</header>

		<md-content>
			<h3>Классы:</h3>
			<div class="add-new-button" ng-click="$ctrl.openCreateModal()">
				<svg-icon encoded-str="$ctrl.icons.addIcon"></svg-icon>
				<span>Добавить класс</span>
			</div>
			<md-list>
				<md-list-item class="class-unit md-2-line"
							  ng-repeat="classUnit in $ctrl.schoolData.classUnits"
							  ng-click="$ctrl.openClassUnitDetail(classUnit)">
					{{classUnit.name}}
				</md-list-item>
			</md-list>
		</md-content>
	</div>
</div>