<div class="checkbox"
     ng-class="{
        'has-error': $ctrl.hasError,
        'has-warning': $ctrl.hasWarning,
        'checked': $ctrl.checked,
        'disabled': $ctrl.isDisabled
     }">
	<label ng-click="$ctrl.toggle($event)">
		<span class="input-icon"></span>
		<span class="input-title" ng-bind="$ctrl.itemTitle"></span>
	</label>
</div>