<md-dialog class="school-create-modal-wrapper">
    <form name="$schoolCreateForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Новая школа</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-input-container>
                <input type="text" ng-required="true" placeholder="Название школы" ng-model="$ctrl.newSchool.name">
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()">
                Отмена
            </md-button>
            <md-button class="md-primary md-raised" ng-disabled="$schoolCreateForm.$invalid" ng-click="$ctrl.create()">
                Создать
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>