<div class="app-select-wrapper">
        <div class="select-wrapper"
             ng-class="{
                'single_value': !$ctrl.$$options.multiple,
                'disable_search': !$ctrl.$$options.enableSearch,
                'over_vertical_limit': $ctrl.$$options.overVerticalLimit
            }"
            ng-style="{
                'padding-right': $ctrl.$$options.enableAll?'60px':'0'
            }"
            >
            <ul class="form-control selected-options-list"
                ng-class="{
                'focused': $ctrl.showList,
                'disabled': $ctrl.ngDisabled,
                'not_empty': $ctrl.selectedCount
            }">
                <!-- СПИСОК ВЫБРАННЫХ ОПЦИЙ -->
                <li class="selected-option"
                    ng-repeat="option in $ctrl.optionsCollection"
                    ng-if="$ctrl.$$options.multiple && option.selected"
                    ng-click="$ctrl.$$selectOption(option, $event)">
                    {{$ctrl.$$options.getLabel(option.data)}}
                    <span class="remove-option">×</span>
                </li>
                <!-- /СПИСОК ВЫБРАННЫХ ОПЦИЙ -->
                <!-- ИНПУТ ДЛЯ ВВОДА ПОИСКОВОГО ЗАПРОСА -->
                <li class="search-input" ng-click="!$ctrl.ngDisabled?$ctrl.toggleShowMode():null">
                    <input type="text"
                           class="search-input"
                           placeholder="{{$ctrl.$$options.placeholder}}"
                           click-outside="$ctrl.onOutsideClick()"

                           ng-change="$ctrl.onSearch()"
                           ng-disabled="!$ctrl.$$options.enableSearch || $ctrl.ngDisabled"
                           ng-focus="$ctrl.onInputFocus()"
                           ng-model="$ctrl.searchString">
                </li>
                <!-- /ИНПУТ ДЛЯ ВВОДА ПОИСКОВОГО ЗАПРОСА -->
            </ul>
            <!-- СПИСОК ДОСТУПНЫХ ОПЦИЙ -->
            <ul class="select-dropdown" ng-show="$ctrl.showList">
                <li class="select-option"
                    ng-repeat="option in $ctrl.optionsCollection | filter: $ctrl.$$searchedStringFilter"
                    ng-value="option.data"
                    ng-click="$ctrl.$$selectOption(option, $event)"
                    ng-class="{
                    'selected': option.selected
                }">
                    <span ng-bind-html="$ctrl.$$options.getLabel(option.data) | highlight: $ctrl.searchString"></span>
                </li>
            </ul>
            <!-- /СПИСОК ДОСТУПНЫХ ОПЦИЙ -->
        </div>
        <!-- ЧЕКБОКС ДЛЯ ВЫБОРА ВСЕХ ОПЦИЙ -->
        <app-checkbox class="select-all-checkbox"
                        ng-if="$ctrl.$$options.enableAll && $ctrl.$$options.multiple"
                        item-value="$ctrl.isSelectedAll"
                        item-title="Все"
                        is-selected="$ctrl.isSelectedAll"
                        on-toggle="$ctrl.selectAll()"></app-checkbox>
        <!-- /ЧЕКБОКС ДЛЯ ВЫБОРА ВСЕХ ОПЦИЙ -->
</div>


