<div class="editable-list-wrapper">
	<div class="add-button" ng-click="$ctrl.createNewItem()">
		<span>Добавить</span>
		<svg-icon encoded-str="$ctrl.icons.addIcon"></svg-icon>
	</div>
	<div class="editable-list">
		<div ng-repeat="item in $ctrl.listData | orderBy: 'name'" class="editable-list-item">
			<!--<span>{{$ctrl.getLabel(item)}}</span>-->
			<input type="text"
			       ng-model="item[$ctrl.options.modelName]"
			       placeholder="{{$ctrl.options.placeholder}}"
			       ng-blur="$ctrl.onChange({item})">
			<svg-icon encoded-str="$ctrl.icons.removeIcon"
			          ng-click="$ctrl.onRemove({item: {item, ix: $index}})"></svg-icon>
		</div>
	</div>
</div>