@import "../../../styles/common";

.editable-list-wrapper{
  .add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border: 3px dashed $grey;
    border-radius: 4px;
    padding: 3px;
    @include hoverAnimation();
    svg-icon, svg{
      width: 25px;
      height: 25px;
      fill: $grey;
    }
  }

  .editable-list{
    display: flex;
    flex-wrap: wrap;
    .editable-list-item{
      position: relative;
      margin-right: 35px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      svg-icon{
        position: absolute;
        display: none;
        cursor: pointer;
        svg{
          fill: $warnColor;
          @include opacityHoverAnimation(.8, 1);
        }
      }

      &:hover{
        svg-icon{
          display: block;
        }
      }
    }
  }
}